node_modules/*
!node_modules/fast-xml-parser/
!node_modules/fast-xml-parser/**
.playwright
test-results
projects/02-llm-to-playwright/tests/generated
projects/01-spec2cases/cases.generated.json
junit-results.xml
database.json
